.color-white {
  color: $color-white;
}

.color-text {
  color: $color-text;
}

.color-neutral-800 {
  color: $color-neutral-800;
}

.color-blue-500 {
  color: $color-blue-500;
}

.color-blue-700 {
  color: $color-blue-700;
}

.color-blue-800 {
  color: $color-blue-800;
}
