---
title: About NCCS
description: Elit velit veniam ducimus adipisicing odit. Voluptate facere sed iste accusamus quae consequatur, excepturi Harum.
layout: page
permalink: /about/
activeLink: /about/
---

<div class="content flow mt-3">

  <div class="mi-3">
    {% assign image = "public/img/collage.webp" | relative_url %}
    <img src="{{ image }}" alt="" />
  </div>

  <h3>Lorem</h3>
  <p>Adipisicing ipsam ipsum itaque accusamus iusto voluptatum Voluptas ipsum placeat saepe consequatur harum Accusamus mollitia voluptas molestias voluptas ab eum Iste architecto alias vel veniam sed laborum dolorem! Nihil ipsa.</p>

  <h3>Ipsum</h3>
  <p>Amet similique nobis voluptatum voluptatem assumenda Minus expedita nulla ipsum reiciendis excepturi culpa facilis Vitae aliquam suscipit consectetur dolore nobis Consectetur nam nisi voluptate possimus repellendus animi Vitae perspiciatis odit</p>

</div>

<div class="feature flow flow-2">
  {% include components/divider.html
    header = "Executive Board"
  %}

  <div class="grid-cols-4 gap">
    {% assign executives = site.data.people | where: "team", "executive" %}
    {% for person in executives %}
      {% if person.image %}
        {% assign personImage = "/public/img/" | append: person.image | relative_url %}
      {% endif %}
      {% assign firstAffiliation = person.affiliation | first %}

      {% include components/person.html
        first = person.first
        last = person.last
        image = personImage
        title = person.title
        affiliation = firstAffiliation.name
        social = person.social
      %}
    {% endfor %}
  </div>
</div>

<div class="feature flow flow-2">
  {% include components/divider.html
    header = "Leadership Team"
  %}

  <div class="grid-cols-4 gap">
    {% assign executives = site.data.people | where: "team", "leadership" %}
    {% for person in executives %}
      {% if person.image %}
        {% assign personImage = "/public/img/" | append: person.image | relative_url %}
      {% endif %}
      {% assign firstAffiliation = person.affiliation | first %}

      {% include components/person.html
        first = person.first
        last = person.last
        image = personImage
        title = person.title
        affiliation = firstAffiliation.name
        social = person.social
      %}
    {% endfor %}
  </div>
</div>

<div class="feature flow flow-2">
  {% include components/divider.html
    header = "Members"
  %}

  <div class="grid-cols-4 gap">
    {% assign executives = site.data.people | where: "team", "member" %}
    {% for person in executives %}
      {% if person.image %}
        {% assign personImage = "/public/img/" | append: person.image | relative_url %}
      {% endif %}
      {% assign firstAffiliation = person.affiliation | first %}

      {% include components/person.html
        first = person.first
        last = person.last
        image = personImage
        title = person.title
        affiliation = firstAffiliation.name
        social = person.social
      %}
    {% endfor %}
  </div>
</div>
