<div class="timeline-wrapper"> 
<ul class="StepProgress">
   
        <li class="StepProgress-item is-done">
            <div class="bold time">2013</div> 
            <div class="bold">Conference</div>
            <div>Charities Regulation and Oversight Symposium at Columbia University</div>
        </li>
   
        <li class="StepProgress-item is-done">
            <div class="bold time">2017</div> 
            <div class="bold">Legal Compendium V1</div>
            <div>The first Legal Compendium dataset was released</div>
        </li>
   
        <li class="StepProgress-item current">
            <div class="bold time">12:00 Pm</div> 
            <div class="bold">Step 3</div>
        </li>
   
        <li class="StepProgress-item">
            <div class="bold time">01:00 Pm</div> 
            <div class="bold">Step 4</div>
        </li>
   
        <li class="StepProgress-item">
            <div class="bold time">02:00 Pm</div> 
            <div class="bold">Step 5</div>
        </li>
   
</ul>
</div>
