


<p><strong>Select Works Citing Nonprofit Trends Data:</strong></p>
<div id="refs" class="references csl-bib-body hanging-indent">
<div id="ref-abramson_assessing_2023" class="csl-entry">
Abramson, Alan J. 2023. <span>“Assessing the <span>State</span> of the
<span>U</span>.<span>S</span>. <span>Nonprofit</span>
<span>Sector</span>: <span>What</span> <span>Indicators</span>
<span>Should</span> <span>We</span> <span>Use</span>?”</span>
<em>Nonprofit and Voluntary Sector Quarterly</em> 52 (2): 544–59. <a href="https://doi.org/10.1177/08997640221091534">https://doi.org/10.1177/08997640221091534</a>.
</div>
<div id="ref-akingbola_nonprofit_2023" class="csl-entry">
Akingbola, Kunle, Sean Edmund Rogers, and Melissa Intindola. 2023.
<span>“Nonprofit <span>Organizations</span>: <span>The</span>
<span>Land</span> of <span>Engagement</span>.”</span> In <em>Employee
<span>Engagement</span> in <span>Nonprofit</span>
<span>Organizations</span> : <span>Theory</span> and
<span>Practice</span></em>, edited by Kunle Akingbola, Sean Edmund
Rogers, and Melissa Intindola, 37–75. Cham: Springer International
Publishing. <a href="https://doi.org/10.1007/978-3-031-08469-0_2">https://doi.org/10.1007/978-3-031-08469-0_2</a>.
</div>
<div id="ref-clary_impact_2022" class="csl-entry">
Clary, Patricia A., and Patricia Vezina Rose. 2022. <span>“The
<span>Impact</span> of <span>COVID</span>-19: <span>The</span>
<span>Phenomenological</span> <span>Effect</span> of
<span>Burnout</span> on <span>Women</span> in the <span>Nonprofit</span>
<span>Sector</span> and <span>Implications</span> for the
<span>Post</span>-<span>Pandemic</span> <span>Work</span>
<span>World</span>.”</span> <em>Merits</em> 2 (4): 331–41. <a href="https://doi.org/10.3390/merits2040023">https://doi.org/10.3390/merits2040023</a>.
</div>
<div id="ref-despard_promoting_2023" class="csl-entry">
Despard, Mathieu. 2023. <span>“Promoting <span>Staff</span>
<span>Financial</span> <span>Well</span>-<span>Being</span> in
<span>Human</span> <span>Service</span> <span>Organizations</span>:
<span>The</span> <span>Role</span> of <span>Pay</span>,
<span>Benefits</span>, and <span>Working</span>
<span>Conditions</span>.”</span> <em>Human Service Organizations:
Management, Leadership &amp; Governance</em> 47 (5): 404–21. <a href="https://doi.org/10.1080/23303131.2023.2253862">https://doi.org/10.1080/23303131.2023.2253862</a>.
</div>
<div id="ref-dula_these_2022" class="csl-entry">
Dula, Lauren. 2022. <span>“These Are the People in Your Neighborhood:
<span>Community</span> Logics and Board Gender Composition in
<span>United</span> <span>Ways</span>.”</span> <em>Nonprofit Management
and Leadership</em> 33 (1): 33–57. <a href="https://doi.org/10.1002/nml.21506">https://doi.org/10.1002/nml.21506</a>.
</div>
<div id="ref-einolf_career_2022" class="csl-entry">
Einolf, Christopher J. 2022. <span>“The Career Paths of Executive
Directors: <span>Founders</span>, Fillers, Planners and Risers.”</span>
<em>Nonprofit Management and Leadership</em> 33 (2): 229–48. <a href="https://doi.org/10.1002/nml.21512">https://doi.org/10.1002/nml.21512</a>.
</div>
<div id="ref-fu_beyond_2023" class="csl-entry">
Fu, Jiawei Sophia, Katherine R. Cooper, DaJung Woo, and Melanie Kwestel.
2023. <span>“Beyond <span>Stakeholder</span> <span>Management</span>:
<span>Organizational</span> <span>Listening</span> for
<span>Nonprofit</span> <span>Stakeholder</span>
<span>Engagement</span>.”</span> <em>Nonprofit and Voluntary Sector
Quarterly</em>, September, 08997640231201068. <a href="https://doi.org/10.1177/08997640231201068">https://doi.org/10.1177/08997640231201068</a>.
</div>
<div id="ref-gooyabadi_nonprofits_2024" class="csl-entry">
Gooyabadi, Ali A., Zahra GorjianKhanzad, and Newton Lee. 2024.
<span>“Nonprofits Vs. For-<span>Profits</span>
<span>Digitalization</span>.”</span> In <em>Nonprofit
<span>Digital</span> <span>Transformation</span>
<span>Demystified</span>: <span>A</span> <span>Practical</span>
<span>Guide</span></em>, edited by Ali A. Gooyabadi, Zahra
GorjianKhanzad, and Newton Lee, 69–79. Cham: Springer Nature
Switzerland. <a href="https://doi.org/10.1007/978-3-031-47182-7_4">https://doi.org/10.1007/978-3-031-47182-7_4</a>.
</div>
<div id="ref-intindola_creeping_2023" class="csl-entry">
Intindola, Melissa, and Cari Burke-Kolehmainen. 2023. <span>“Creeping
<span>COVID</span> Catastrophe: The Impact of <span>COVID</span>-19 on
Nonprofits by Sector.”</span> <em>Journal of Public Budgeting,
Accounting &amp; Financial Management</em> 35 (5): 621–43. <a href="https://doi.org/10.1108/JPBAFM-04-2022-0066">https://doi.org/10.1108/JPBAFM-04-2022-0066</a>.
</div>
<div id="ref-jo_volunteering_2023" class="csl-entry">
Jo, Suyeon, Laurie Paarlberg, and Rebecca Nesbit. 2023.
<span>“Volunteering <span>Behaviors</span> of <span>People</span> of
<span>Color</span> in the <span>US</span> <span>Communities</span>:
<span>How</span> <span>Community</span> <span>Racial</span>
<span>Composition</span> <span>Affects</span> the <span>Type</span> of
<span>Organization</span> <span>People</span> of <span>Color</span>
<span>Volunteer</span> <span>For</span>.”</span> <em>VOLUNTAS:
International Journal of Voluntary and Nonprofit Organizations</em> 34
(4): 760–76. <a href="https://doi.org/10.1007/s11266-022-00508-0">https://doi.org/10.1007/s11266-022-00508-0</a>.
</div>
<div id="ref-kim_financial_2023" class="csl-entry">
Kim, Mirae, and Bo Li. 2023. <span>“Financial <span>Challenges</span> of
<span>Nonprofits</span> <span>Serving</span> <span>People</span> of
<span>Color</span>: <span>Original</span> <span>Survey</span>
<span>Results</span>.”</span> <em>Nonprofit and Voluntary Sector
Quarterly</em> 52 (5): 1145–68. <a href="https://doi.org/10.1177/08997640221122812">https://doi.org/10.1177/08997640221122812</a>.
</div>
<div id="ref-kuenzi_how_2022" class="csl-entry">
Kuenzi, Kerry, Marlene Walk, and Amanda Stewart. 2022. <span>“How
<span>Are</span> <span>Nonprofit</span> <span>Workers</span>
<span>Doing</span>? <span>Investigating</span> the <span>Personal</span>
and <span>Professional</span> <span>Impact</span> of
<span>COVID</span>-19.”</span> <em>Canadian Journal of Nonprofit and
Social Economy Research</em> 13 (2): 17 pp–. <a href="https://doi.org/10.29173/cjnser565">https://doi.org/10.29173/cjnser565</a>.
</div>
<div id="ref-lam_human_2023" class="csl-entry">
Lam, Marcus M., Jessica K. A. Word, and Nathan J. Grasse. 2023.
<span>“Human <span>Service</span> <span>Organizations</span>’
<span>Participation</span> in the <span>Paycheck</span>
<span>Protection</span> <span>Program</span>: <span>A</span>
<span>Cross</span>-<span>Sector</span> <span>Comparison</span>.”</span>
<em>Human Service Organizations: Management, Leadership &amp;
Governance</em> 0 (0): 1–17. <a href="https://doi.org/10.1080/23303131.2023.2282592">https://doi.org/10.1080/23303131.2023.2282592</a>.
</div>
<div id="ref-lee_color_2023" class="csl-entry">
Lee, Young-joo. 2023. <span>“The Color of Nonprofit Leadership:
<span>Nonprofits</span> with a <span>CEO</span> of Color.”</span>
<em>Nonprofit Management and Leadership</em> 33 (4): 865–78. <a href="https://doi.org/10.1002/nml.21545">https://doi.org/10.1002/nml.21545</a>.
</div>
<div id="ref-lee_board_2024" class="csl-entry">
———. 2024. <span>“Board <span>Gender</span> <span>Diversity</span> and
<span>Nonprofit</span> <span>CEO</span> <span>Compensation</span>:
<span>Implications</span> for <span>Gender</span> <span>Pay</span>
<span>Gap</span>.”</span> <em>Nonprofit and Voluntary Sector
Quarterly</em> 53 (1): 257–73. <a href="https://doi.org/10.1177/08997640231158596">https://doi.org/10.1177/08997640231158596</a>.
</div>
<div id="ref-lens_help-seeking_2024" class="csl-entry">
Lens, Vicki, Lily Bushman-Copp, and Christopher Wimer. 2024.
<span>“Help-<span>Seeking</span> from <span>Nonprofits</span> and
<span>Social</span> <span>Networks</span> <span>During</span> the
<span>Pandemic</span>: <span>A</span> <span>Qualitative</span>
<span>Study</span>.”</span> <em>Journal of Policy Practice and
Research</em>, February. <a href="https://doi.org/10.1007/s42972-024-00098-9">https://doi.org/10.1007/s42972-024-00098-9</a>.
</div>
<div id="ref-li_racial_2023" class="csl-entry">
Li, Bo. 2023. <span>“Racial <span>Diversity</span> at the
<span>Leadership</span> <span>Level</span>: <span>The</span>
<span>Case</span> of <span>Nonprofit</span> <span>Human</span>
<span>Service</span> <span>Organizations</span>.”</span> <em>AYSPS
Dissertations</em>, August. https://doi.org/<a href="https://doi.org/10.57709/35893728">https://doi.org/10.57709/35893728</a>.
</div>
<div id="ref-mendez-caltzontzint_examination_2022" class="csl-entry">
Mendez-Caltzontzint, Desiree. 2022. <span>“An <span>Examination</span>
of the <span>Relationship</span> Between <span>Transformational</span>
<span>Leadership</span> and <span>Organizational</span>
<span>Effectiveness</span> in <span>Nonprofit</span>
<span>Organizations</span>.”</span> {PhD} {Thesis}, Our Lady of the Lake
University.
</div>
<div id="ref-mook_measuring_2023" class="csl-entry">
Mook, Laurie. 2023. <span>“Measuring Volunteer Inputs: Telling the Whole
Story.”</span> In <em>Research <span>Handbook</span> on
<span>Nonprofit</span> <span>Accounting</span></em>, 133–53. Edward
Elgar Publishing. <a href="https://www.elgaronline.com/edcollchap/book/9781800888289/book-part-9781800888289-15.xml">https://www.elgaronline.com/edcollchap/book/9781800888289/book-part-9781800888289-15.xml</a>.
</div>
<div id="ref-mumford_doing_2022" class="csl-entry">
Mumford, Steven W. 2022. <span>“Doing More with Less:
<span>Racial</span> Diversity in Nonprofit Leadership and Organizational
Resilience.”</span> <em>Journal of Public and Nonprofit Affairs</em>.
</div>
<div id="ref-mumford_contributions_2024" class="csl-entry">
Mumford, Steven W., Nicole S. Hutton, and Stephanie M. Riegel. 2024.
<span>“Contributions of the <span>Paycheck</span>
<span>Protection</span> <span>Program</span> to <span>Nonprofit</span>
<span>Short</span>-<span>Term</span>
<span>Sustainability</span>.”</span> <em>Nonprofit and Voluntary Sector
Quarterly</em> 53 (1): 186–209. <a href="https://doi.org/10.1177/08997640231164538">https://doi.org/10.1177/08997640231164538</a>.
</div>
<div id="ref-parker_engaging_2024" class="csl-entry">
Parker, Kimberly A., Sarah A. Geegan, Samantha N. Pfeiffer, Ansley M.
George, Danielle E. Jaffe, Adriane Grumbein, Sylvia Scheuer, and Allison
D. Brown. 2024. <span>“Engaging a New Generation of Donors:
<span>A</span> Relationship Management Theory Approach to Communication
Between Nonprofits and Millennials.”</span> <em>Journal of Philanthropy
and Marketing</em> 29 (1): e1816. <a href="https://doi.org/10.1002/nvsm.1816">https://doi.org/10.1002/nvsm.1816</a>.
</div>
<div id="ref-phillips_trust_2023" class="csl-entry">
Phillips, Kenneth. 2023. <em>Trust, <span>Impact</span>, and
<span>Fundraising</span> for <span>Nonprofits</span>: <span>How</span>
Meaningful Ethics and Strategic Evaluation Can Multiply Your Revenue and
Expand Your Program</em>. New York: Routledge. <a href="https://doi.org/10.4324/9781003335207">https://doi.org/10.4324/9781003335207</a>.
</div>
<div id="ref-thomas_understanding_2024" class="csl-entry">
Thomas, Benjamin J. 2024. <span>“Understanding Nonprofit Leader
Engagement and Turnover: <span>A</span> Story of Job Demands and
Resources.”</span> <em>Nonprofit Management and Leadership</em> 34 (3):
707–28. <a href="https://doi.org/10.1002/nml.21588">https://doi.org/10.1002/nml.21588</a>.
</div>
<div id="ref-walters_role_2022" class="csl-entry">
Walters, Jayme. 2022. <span>“The <span>Role</span> of <span>Rural</span>
<span>Nonprofits</span>: <span>Innovation</span>,
<span>Opportunities</span>, and <span>Threats</span>.”</span> In
<em>Rural <span>Areas</span> in <span>Transition</span></em>. Routledge.
</div>
<div id="ref-webb_relationship_2023" class="csl-entry">
Webb, Keilee. 2023. <span>“The <span>Relationship</span> of
<span>Insufficient</span> <span>Resources</span> to
<span>Leadership</span> <span>Burnout</span> in <span>Rural</span>
<span>Nonprofit</span> <span>Organizations</span>.”</span> <em>Honors
College Theses</em>, December. <a href="https://digitalcommons.murraystate.edu/honorstheses/198">https://digitalcommons.murraystate.edu/honorstheses/198</a>.
</div>
<div id="ref-yan_pursuit_2023" class="csl-entry">
Yan, Jiaju, Nick Mmbaga, and David Gras. 2023. <span>“In Pursuit of
Diversification Opportunities, Efficiency, and Revenue Diversification:
<span>A</span> Generalization and Extension for Social
Entrepreneurship.”</span> <em>Strategic Entrepreneurship Journal</em> 17
(1): 132–59. <a href="https://doi.org/10.1002/sej.1446">https://doi.org/10.1002/sej.1446</a>.
</div>
<div id="ref-young_introduction_2022" class="csl-entry">
Young, Dennis, and Elizabeth Searing. 2022. <span>“Introduction to
<span>Resilience</span> and the <span>Management</span> of
<span>Nonprofit</span> <span>Organizations</span>.”</span> In
<em>Resilience and the <span>Management</span> of <span>Nonprofit</span>
<span>Organizations</span></em>, 1–14. Edward Elgar Publishing. <a href="https://www.elgaronline.com/monochap/book/9781800889736/book-part-9781800889736-10.xml">https://www.elgaronline.com/monochap/book/9781800889736/book-part-9781800889736-10.xml</a>.
</div>
<div id="ref-zigmanlador_impact_2023" class="csl-entry">
ZigmanLador, Orit. 2023. <span>“The Impact of <span>Covid</span>-19 on
Community Based-Organizations: A Case Study of <span>Jewish</span>
Organizations.”</span> <em>Theses and Dissertations</em>, January. <a href="https://digitalcommons.pepperdine.edu/etd/1320">https://digitalcommons.pepperdine.edu/etd/1320</a>.
</div>
</div>
