{% comment %}
Citation
- citation {Array}
- citationDate {Date}
- author {Array}
{% endcomment %}

{% assign citationDate = include.citationDate | date: "%Y" %}
{% assign citationAuthors = nil %}

{% comment %}
  Allow override from within the citation field
  Otherwise pull information from the pages author fields
  Based on Chicago Manual Style Author-Date format
  https://www.chicagomanualofstyle.org/tools_citationguide/citation-guide-2.html
{% endcomment %}

{% if include.citation.author %}
  {% assign citationAuthors =  include.citation.author %}
{% else %}
  {% for author in include.author %}
    {% assign name = nil %}
    {% assign authorIndex = forloop.index %}
    {% assign authorLast = forloop.last %}
    {% if author.name %}
      {% assign name = author.name %}
    {% elsif author.id %}
      {% for person in site.data.people %}
        {% if author.id == person.id %}
          {% if authorIndex == 1 %}
          {% capture name %}{{ person.last}}, {{person.first}}{% endcapture %}
          {% elsif authorLast and authorIndex != 1 %}
            {% capture name %}and {{ person.first}} {{person.last}}{% endcapture %}
          {% else %}
            {% capture name %}{{ person.first}} {{person.last}}{% endcapture %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if citationAuthors != nil %}
      {% assign addPerson =  name | prepend: ", " %}
      {% assign citationAuthors = citationAuthors | append: addPerson %}
    {% else %}
      {% assign citationAuthors = name %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="flow" data-module="clipboard">
  {% include components/button.html
    text = "Copy Citation"
    icon = "external"
    style = "text"
    class = "transform-none"
    dataKey = "clipboard-trigger"
    dataValue = "trigger"
  %}

  <div class="font-italic text-xs break-word" data-clipboard-text>
    {% if citationAuthors %}
      {{ citationAuthors}}. 
    {% endif %}
      {{ citationDate }}. 
      "{{ page.title }}." 
    {% if include.citation.container-title %}
      {{ include.citation.container-title }}. 
    {% else %}
      {{ site.title }}.
    {% endif %}
    {% if include.citation.volume or include.citation.issue %}
      {{ include.citation.volume }}, no. {{include.citation.issue}}. 
    {% endif %}
    {% if include.citation.doi %}
      https://doi.org/{{ include.citation.doi }}. 
    {% endif %}
    {% if include.citation.url %}
      {{ include.citation.url }} 
    {% else %}
      {{ site.url }}{{site.baseurl}}{{ page.url }}
    {% endif %}
  </div>
</div>
