{% comment %}
Content CTA
- header {String}
- description {String}
- ctaUrl {String (url)}
- ctaText {String}
- ctaIcon {String}
- imageUrl {String (url)}
- imageAlt {String}
- style {String}
{% endcomment %}

{% if include.ctaText %}
  {% assign ctaText = include.ctaText %}
{% else %}
  {% assign ctaText = "Learn More" %}
{% endif %}

{% if include.ctaText %}
  {% assign ctaIcon = include.ctaIcon %}
{% else %}
  {% assign ctaIcon = "" %}
{% endif %}

{% if include.style %}
  {% assign style = include.style | prepend: "-" %}
{% else %}
  {% assign style = "-light" %}
{% endif %}

<div class="content-cta {{ style }}">
  <div class="content-cta__text flow flow-1">
    <h2>{{ include.header }}</h2>
    <p>{{ include.description }}</p>

    {% if include.imageUrl %}
      <div class="content-cta__image">
        <img src="{{ include.imageUrl }}" alt="{{ include.imageAlt }}">
      </div>
    {% endif %}

    {% if include.ctaUrl %}
      {% include components/button.html
        href = include.ctaUrl
        text = ctaText
        icon = ctaIcon
        style = "primary"
      %}
    {% endif %}
  </div>
</div>
