<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    <a href="#main" class="sr-only focus-not-sr-only skip-link">Skip to Content</a>

    {% include nav.html %}

    {% if page.grid %}
      {% assign grid = "grid-" | append: page.grid %}
    {% elsif layout.grid %}
      {% assign grid = "grid-" | append: layout.grid %}
    {% else %}
      {% assign grid = "grid-content" %}
    {% endif %}

    <main id="main" class="{{ grid }} flow {% unless page.noContentMargin or layout.noContentMargin %}my-content{% endunless %}">
      {{ content }}
    </main>

    {% include footer.html %}

    <script type="module" src="{{ site.baseurl }}/public/js/main.js"></script>
  </body>
</html>
